<nb-card [nbSpinner]="isLoading" nbSpinnerMessage="{{ 'LOADING' | translate }}" nbSpinnerStatus="primary">
  <nb-card-body>

    <div class="row">
      <div class="col-sm-12">
        <table class="w-100 table table-responsive d-lg-table">

          <thead>
            <div class="stc-head d-flex justify-content-end align-items-center">
              <h2 class="m-0 col">{{ 'DICTIONARY_MANAGER' | translate }}</h2>
              <button class="button btn btn-hero-secondary mx-2 fs-larger">{{ 'ADD_DICTIONARY' | translate }}</button>
              <i class="icon ion-ios-cog cursor-pointer fs-large" (click)="openPreferences()"></i>
            </div>
          </thead>

          <tbody>
            <ng2-smart-table-extended
              [settings]="settings"
              [source]="source">
            </ng2-smart-table-extended>
          </tbody>

        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
