<nb-card [nbSpinner]="isLoading" nbSpinnerMessage="{{ 'LOADING' | translate }}" nbSpinnerStatus="primary">
  <nb-card-body>

    <div class="row">
      <div class="col-sm-12">
        <table class="w-100 table table-responsive d-lg-table">

          <!-- Table Head -->
          <thead>
            <div class="stc-head d-flex justify-content-end align-items-stretch">

              <!-- Heading -->
              <h2
                *ngIf="!isSearch"
                class="m-0 pl-0 col d-flex align-items-center"
                [innerText]="isFilter ? translate('RESULTS_FOR', { value: search.value }) : translate('DICT_MGR')">
              </h2>

              <!-- Action Button -->
              <button
                (click)="onAdd()"
                class="btn btn-primary mx-2 fs-larger">
                {{ 'ADD_RECORD' | translate }}
              </button>

              <!-- Search Button -->
              <div class="form d-flex align-items-stretch mx-2"
                   [ngClass]="{ 'w-100' : isSearch }" [formGroup]="searchForm">
                <div class="form-group group m-0 d-flex align-items-stretch w-100">
                  <div class="input-with-buttons append borders-2 w-100">

                    <!-- Search Input -->
                    <input
                      id="search"
                      name="search"
                      type="search"
                      [ngStyle]="{
                        'padding': !isSearch ? 0 : '0 1.125rem',
                        'width': !isSearch ? 0 : 'auto',
                        'border-width': !isSearch ? 0 : '2px'
                      }"
                      placeholder="{{ 'SEARCH' | translate }}"
                      class="input-full-width input-md"
                      formControlName="search"
                      (keyup)="onSearch([ 'id', 'cs', 'en' ], search.value, null)"
                      (blur)="isSearch = false">

                    <div class="buttons">

                      <!-- Search Button -->
                      <button
                        (click)="isSearch = !isSearch"
                        nbTooltip="{{ 'SEARCH' | translate }}"
                        [ngStyle]="{
                          'border-radius': isSearch ? '0 5px 5px 0' : '5px',
                          'border-left-width': isSearch ? 0 : '2px'
                        }"
                        class="btn btn-secondary px-3 py-1">
                        <i class="icon ion-ios-search fs-biggest"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Refresh -->
              <button
                (click)="refresh()"
                [ngClass]="{ 'pointer-events-none': isLoading }"
                nbTooltip="{{ 'RELOAD' | translate }}"
                class="btn btn-secondary mx-2 px-3 py-1">
                <i class="icon ion-ios-refresh-empty fs-large"></i>
              </button>

              <!-- Table Preferences -->
              <button
                (click)="openPreferences()"
                nbTooltip="{{ 'OPEN_PREFERENCES' | translate }}"
                class="btn btn-secondary mx-2 px-3 py-1">
                <i class="icon ion-ios-cog-outline fs-large"></i>
              </button>
            </div>
          </thead>

          <!-- Table body -->
          <tbody>
            <ng2-smart-table-extended
              [settings]="settings"
              [source]="source"
              (edit)="onEdit($event)"
              (delete)="onDelete($event)">
            </ng2-smart-table-extended>
          </tbody>

        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
