<div class="modal-header">
  <h3>{{ 'TABLE_PREF_TITLE' | translate }}</h3>
  <button class="close" aria-label="Close" tabindex="-1" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form novalidate="" class="ng-touched ng-dirty ng-valid form" id="options-section">

    <header><h5>{{ 'OPTIONS' | translate }}</h5></header>

    <div class="row align-items-center">

      <!-- Switches -->
      <div *ngFor="let checkbox of FOCheckbox"
           class="switch group form-group d-flex col py-2">
        <input
          id="{{checkbox.id}}"
          name="{{checkbox.id}}"
          type="checkbox"
          class="switch-input"
          [checked]="checkbox.value"
          (change)="checkboxOnChange(checkbox.value, checkbox.id)">
        <label
          for="{{checkbox.id}}"
          class="switch-label position-relative d-flex flex-column">
          {{checkbox.title}}
        </label>
      </div>

      <!-- Selects -->
      <div *ngFor="let select of FOSelect"
           class="col-sm-12 d-flex py-2 form-group group flex-column">
        <label for="{{select.id}}" class="mr-2">
          {{select.title}}
          <!-- TODO: fix z-index issue with tooltip inside modal -->
          <!--<span-->
            <!--*ngIf="select.options.hint.show"-->
            <!--nbTooltip="{{select.options.hint.text}}"-->
            <!--class="icon ion-ios-help-outline position-relative">-->
          <!--</span>-->
        </label>
        <select
          [name]="select.id"
          id="{{select.id}}"
          class="input-full-width input-md ng-dirty ng-valid ng-touched"
          (change)="selectOnSelect($event, select.id)">
          <option
            *ngFor="let item of select.options.items"
            value="{{item.value}}"
            [selected]="placeholderValue(item.value, select.id)">
            {{item.label}}
          </option>
        </select>
      </div>

    </div>

  </form>

  <hr>

  <section id="columns-section">

    <header><h5>{{ 'COLUMNS' | translate }}</h5></header>

    <div class="row" [sortablejs]="filters" [sortablejsOptions]="sortableOptions">

      <!-- Rows -->
      <div class="d-flex align-items-center col-sm-12 py-2" *ngFor="let filter of filters">
        <input
          class="inp-cbx"
          style="display: none;"
          id="{{filter.id}}"
          name="{{filter.id}}"
          type="checkbox"
          [checked]="filter.checked"
          (click)="selectFilter(filter.id)">
        <label class="cbx d-flex align-items-center col-sm-12" for="{{filter.id}}">
        <span>
          <svg width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg>
        </span>
          <span class="col">{{filter.title}}</span>
          <span class="icon ion-ios-menu fs-larger"></span>
        </label>
      </div>
    </div>

  </section>

</div>
<div class="modal-footer">
  <button class="btn btn-md btn-secondary" (click)="closeModal()">{{ 'CANCEL' | translate }}</button>
  <button class="btn btn-md btn-primary" (click)="applyChanges()">{{ 'APPLY_CHANGES' | translate }}</button>
</div>
