//colors
$cloud_burst: #223254;
$manatee: #9098a9;
$white: #ffffff;
$royal_blue: #2e38ae;
$alto: #dedede;
$white: #fff;
$black_45: rgba(0, 0, 0, 0.45);
$atlantis: #2e38ae;

%extend_1 {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  margin-top: 24px;
}

.cbx {
  margin: auto;
  user-select: none;
  cursor: pointer;
  span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    &:first-child {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      transform: scale(1);
      vertical-align: middle;
      border: 1px solid $manatee;
      transition: all 0.2s ease;
      svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: $white;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate3d(0, 0, 0);
      }
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: $royal_blue;
        display: block;
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
      }
    }
    &:last-child {
      padding-left: 8px;
    }
  }
  &:hover span:first-child {
    border-color: $royal_blue;
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.inp-cbx:checked + .cbx span:first-child {
  background: $royal_blue;
  border-color: $royal_blue;
  animation: wave 0.4s ease;
  svg {
    stroke-dashoffset: 0;
  }
  &::before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
}

.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
  &:checked + .switch-label {
    &::before {
      background-color: $atlantis;
    }
    &::after {
      left: 24px;
    }
  }
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  clip: rect(0 0 0 0);
  user-select: none;
  &::before {
    @extend %extend_1;
    width: 100%;
    height: 100%;
    background-color: $alto;
    border-radius: 9999em;
    transition: background-color 0.25s ease;
  }
  &::after {
    @extend %extend_1;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 0 2px $black_45;
    transition: left 0.25s ease;
  }
}
